<h1>Профиль, <%= current_user.email %></h1>
<%= link_to "Вернуться на домашнюю профиля", root_path %>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="field">
    <p>Фамилия: <%= current_user.surname %></p>
  </div>
  <div class="field">
    <%= f.label :name, 'Имя'  %> 
    <%= current_user.name %>
  </div>
  <div class="field"> 
    <%= f.label :patron, 'Отчество' %> 
    <%= current_user.patron %>
  </div>
  <div class="field">
    <%= f.label :nickname, 'Логин' %>
    <%= current_user.nickname %>
  </div>
  <div class="field">
    <%= f.label :email, 'Почта' %>
    <%= current_user.email %>
  </div>
  <div class="field">
    <%= f.label :gender, 'Пол' %>
    <%= current_user.gender %>
  </div>
  <div class="field">
    <%= f.label :date_birth, 'Дата рождения' %>
    <%= current_user.date_birth %>
  </div>
  <div class="field">
    <%= f.label :type_activity, 'Род деятельности' %>
    <%= current_user.type_activity %>
  </div>
  <div class="field">
    <%= f.label :company, 'Компания' %>
    <%= current_user.company %>
  </div>
  <div class="field">
    <%= f.label :description, 'О себе' %>
    <%= current_user.description %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= current_user.status %>
  </div>

  <%= link_to 'Редактировать профиль', edit_page_path(current_user) %> <br/>
<% end %>

<div> 
  <%= link_to 'Создать пост', new_post_path(current_user.id) %> <br/>
</div>

<h2>Мои посты:</h2>
<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><%= link_to post.title, post_path(post) %></h3>
        <p><%= post.content.truncate(100) %></p>
        <p><%= post.created_at.strftime("%d %B %Y") %></p>
        <%= link_to 'Редактировать пост', edit_post_path(post.id) %> | 
        <%= button_to "Удалить пост", post, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот пост?' } %>

        <%= form_with(model: [post, Comment.new]) do |form| %>
          <div>
            <%= form.label :content, "Ваш комментарий" %></br>
            <%= form.text_area :content, rows: 3, cols: 50 %>
          </div>
          <div>
            <%= form.submit "Добавить комментарий" %>
          </div>
        <% end %>
        <h4>Комментарии:</h4>
        <% if post.comments.any? %>
          <ul>
            <% post.comments.each do |comment| %>
              <li>
                <strong><%= comment.user.present? ? comment.user.email : 'Аноним' %>:</strong>
                <p><%= comment.content %></p>
                <% if current_user == comment.user || current_user == post.user %>
                <%= button_to "Удалить комментарий", [post, comment], method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот комментарий?' } %>
              <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>Нет комментариев.</p>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>У вас еще нет постов.</p>
<% end %>
