<%= form_with(model: @user, local: true) do |f| %>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname, autofocus: true, value: current_user.surname %>
  </div>
  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name, autofocus: true, value: current_user.name %>
  </div>
  <div class="field"> 
    <%= f.label :patron %>
    <%= f.text_field :patron, autofocus: true, value: current_user.patron %>
  </div>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, autofocus: true, value: current_user.surname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, value: current_user.email %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender, autofocus: true, value: current_user.gender %>
  </div>
  <div class="field">
    <%= f.label :date_birth %>
    <%= f.text_field :date_birth, autofocus: true, value: current_user.date_birth %>
  </div>
  <div class="field">
    <%= f.label :type_activity %>
    <%= f.text_field :type_activity, autofocus: true, value: current_user.type_activity %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company, autofocus: true, value: current_user.company %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, autofocus: true, value: current_user.description %>
  </div>

  <div class="field">
  <%= f.label :status%>
  <%= f.text_field :status, value: current_user.status %>
  </div>

  <div>
  <%= f.submit %>
  </div>
  

<% end %>