<h1>Редактировать профиль, <%= current_user.email %></h1>


<%= form_with(model: @user,url: page_path(@user), method: :patch, local: true) do |f| %>
  <div class="field">
    <%= f.label :surname, 'Фамилия' %>
    <%= f.text_field :surname, autofocus: true, value: current_user.surname %>
  </div>
  <div class="field">
    <%= f.label :name, 'Имя' %> 
    <%= f.text_field :name, autofocus: true, value: current_user.name %>
  </div>
  <div class="field"> 
    <%= f.label :patron, 'Отчество' %>
    <%= f.text_field :patron, autofocus: true, value: current_user.patron %>
  </div>
  <div class="field">
    <%= f.label :nickname,  'Логин' %>
    <%= f.text_field :nickname, autofocus: true, value: current_user.surname %>
  </div>
  <div class="field">
    <%= f.label :email, 'Почта' %>
    <%= f.email_field :email, disabled: true, value: current_user.email %>
  </div>
  <div class="field">
    <%= f.label :gender, 'Пол' %>
    <%= f.select :gender, options_for_select([['Мужской', 'Мужской'], ['Женский', 'Женский'], ['Другой', 'other']], @user.gender) %>

  </div>
  <div class="field">
    <%= f.label :date_birth, 'Дата рождения' %>
    <%= f.date_select :date_birth, 
                    start_year: 1970, 
                    end_year: Date.today.year, 
                    default: current_user.date_birth.present? ? current_user.date_birth : nil, 
                    include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :type_activity, 'Род деятельности' %>
    <%= f.text_field :type_activity, autofocus: true, value: current_user.type_activity %>
  </div>
  <div class="field">
    <%= f.label :company, 'Компания' %>
    <%= f.text_field :company, autofocus: true, value: current_user.company %>
  </div>
  <div class="field">
    <%= f.label :description, 'О себе' %>
    <%= f.text_field :description, autofocus: true, value: current_user.description %>
  </div>

  <div>
  <%= f.submit "Сохранить"%>
  </div>
<% end %>

<div>
<%= link_to "Вернуться на страницу профиля", profile_path %>
</div>

